<!-- //tentando colocar os componentes -->

<div class="container-fluid text-center bg-primary rounded-3 ">


  <div class="row align-items-center">
    <div class="col-6">
      <div class=" img-small ">

        <app-logo></app-logo>

        <!-- <div class=" w-25 p-3">
          <img class=""src="https://cdn-icons-png.flaticon.com/512/4497/4497879.png">
        </div> -->

      </div>


    </div>
    <div class="col-6 my-4 ">

   <div>
    <div class="row col-8 ">
      <br>

        <app-modal></app-modal>
        <!-- <button type="button" class="button" class="btn btn-outline-info text-body-info my-4">Criar conta </button></h4> -->

        <span class="col-3 fs-1 text-light texto align-items-left text-light fw-bold ">Login</span>
      <!-- </div> -->
      <div class="row col-10 aling-right bg-light  rounded-3 my-2 shadow p-3 mb-5 bg-body-tertiary rounded my-4">


        <form >


          <div class="mb-3 text-start text-primary fw-light">

            <label for="exampleInputEmail1" class="form-label">Email:</label>
            <input type="email"name= "e-mail" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

          </div>
          <div class="mb-3 text-start text-primary fw-light shadow p-3 mb-5 bg-body rounde">
            <label for="exampleInputPassword1" class="form-label">Senha</label>
            <input type="password" name ="senha"class="form-control" id="exampleInputPassword1">
          </div>

          <button type="submit" class="row col-6 btn btn-primary mx-auto p-2" style="width: 200px shadow p-3 mb-5 bg-body-tertiary rounded">Entrar </button>

      <p><a class="link-opacity-75 align-items-start" href="#">Esqueceu sua senha? </a>

     </p>
        </form>
      </div >

